* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #f6d365;
    --peach: #fda085;
    --orange: #ff6f47;
    --green: rgb(73,204,73);
}

body {
    background-image: linear-gradient(120deg, var(--yellow), var(--peach));
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-size: 10px;
}

header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

main, header, .todo-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-header input, .todo-header button {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

.todo-header button {
    color: var(--peach);
    background: white;
    cursor: pointer;
    transition: all .3s ease;
}

.todo-header button:hover {
    background: var(--peach);
    color: white;
}

.todo-container {
    margin-top: 5rem;
    width: 100%;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.todo-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    margin-bottom: .5rem;
    padding-left: .5rem;
}

.todo-list .todo-item:last-child {
    margin: 0;
}

.todo-text {
    font-size: 1.5rem;
    flex: 1;
}

.todo-check-button, .todo-remove-button {
    background: var(--orange);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.todo-check-button {
    margin-left: .5rem;
    background: var(--green);
}
/*https://youtu.be/Ttf3CEsEwMQ?t=1540*/