* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #f6d365;
    --peach: #fda085;
}

body {
    background-image: linear-gradient(120deg, var(--yellow), var(--peach));
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    font-size: 10px;
}

header {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: .5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: var(--peach);
    background: white;
    cursor: pointer;
    transition: all .3s ease;
}

form button:hover {
    background: var(--peach);
    color: white;
}

